body{
    color: white;
}
p {
    color: white;
}

#azul{
    color : cornflowerblue; 
}
.lista{
     color: white;
}
*{

}
 body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
 }
#azul{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
.texto{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        

}
.texto{

    text-align: center;
    color: cornflowerblue;
   
}

.texto{
    font-size: 1rem;

}
.texto1{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
   

}
.texto1{
    list-style: none;
    text-align: center;
}
.texto1 li{

    display: inline;
    padding: 2rem;

}
.texto1 a{

    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.5rem;
}


.titulo{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;


}
.titulo{
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    list-style: none;
}


